/* Author: Leon Forsythe */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* variables */
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --dk-gray: #222222;
    --lt-gray: #eaeaea;
    --white: #ffffff;
    --black: #000000;

    --molle: "Molle", cursive;
    --monsterrat: "Monsterrat", sans-serif;

}

/* skip link */
#skip {
  left: 50%;
  background: var(--yellow);
  height: 30px;
  left: 50%;
  padding: 8px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
}
  #skip:focus {
    transform: translateY(0%);
  }

/* nav */
#toggle {
    display: none;
}

.sr-only {
    display: none;
}

#menu-toggle label {
    background-color: var(--yellow);
    padding: 1.5rem 4rem;
    display: block;
    font-family: var(--monsterrat);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

#menu-toggle ul {
    display: none;
}

#menu-toggle input[type="checkbox"]:checked + label {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    z-index: 2;
    background-color: var(--dk-gray);
    color: var(--white);
}

#menu-toggle input[type="checkbox"]:checked + label + ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    max-width: 100vw;
    width: 100%;
    top: 4rem;
    left: 0;
    height: auto;
    background-color: var(--teal);

}

  #menu-toggle ul li {
    width: 100%;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 2rem;
  }

  #menu-toggle ul a {
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-family: var(--monsterrat);
  }

/* header */
header {
    display: grid;
    grid-template-areas:   
        "logo logo logo menu"
        "content content content content"
    ;
    background-image: linear-gradient(180deg, var(--teal), var(--white));
    padding: 1rem 0;
}

header a {
    grid-area: logo;
}

header nav{
    grid-area: menu;
}

#headContent {
    grid-area: content;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

header h1{
    font-family: var(--molle);
    font-size: 4rem;
}

header p {
    font-family: var(--monsterrat);
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.7;
}

/* intro section styles */
#intro h2, #intro p {
    padding: .5rem 1.5rem;
}

#intro h2 {
    font-family: var(--molle);
    font-size: 3rem;
}

#intro p {
    font-family: var(--monsterrat);
    line-height: 1.7;
    font-weight: lighter;
    font-size: 1.5rem;

}

#img-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
}

#img-grid img {
    width: 100%;
    height: 400px;
}

/* plan section */

#plan {
    background-color: var(--yellow);
    margin-top: 2rem;
    padding: 2rem 0;
    text-align: center;
}

#plan h3, #testimonials h3, #about h3 {
    font-family: var(--molle);
    font-size: 2rem;
    margin-bottom: 1rem;
}

#plan div {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    grid-gap: 3rem;
}

#plan div section {
    font-family: var(--monsterrat);
    font-size: 1.75rem;
    text-transform: uppercase;
    background-color: var(--teal);
    border: 3px solid var(--white);
    border-radius: 8px;
    width: 360px;
    padding: 2rem 0;
    text-align: center;
}

#plan div section h4 {
    margin-bottom: 1rem;
}

/* testimonials */
#testimonials {
    margin: 3rem 0rem;
    padding: 2rem;
}

#testimonials div {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    place-items: center;

}

#testimonials div section {
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--monsterrat);
}

#testimonials h4 {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
}
#testimonials p {
    line-height: 1.5rem;
}
#testimonials q {
    line-height: 1.5rem;
    font-style: italic;
}

/* about section */
#about {
    background-color: var(--blue);
    padding: 2rem;
}

#about div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1.5rem;
    place-items: center;
}

#about div section {
    font-family: var(--monsterrat);
    text-align: center;
    line-height: 1.5rem;
}
#about div section h4 {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

#about div section img{
    width: 120px;
    height: 120px;
}


/* form */

#contact {
    margin: 2rem;
    font-family: var(--monsterrat);
    text-transform: uppercase;
}

#names, #nums {
    display: flex;
    margin: 1rem 0rem;
    flex-direction: column;
    gap: .5rem;
}

#names input, #nums input[type="email"], #nums input[type="tel"], select {
    border: 3px solid var(--purple);
    height: 50px;
    width: 80%;
}

#nums fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

#nums input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    margin-right: 1rem;
    font: inherit;
    color: var(--purple);
    border: 0.15em solid var(--purple);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 2em 2em var(--purple);
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }

fieldset label {
    display: flex;
    align-items: center;
}

.required {
    color: var(--purple);
}

#selects {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#mySubmit {
    width: 80%;
    background-color: var(--purple);
    height: 50px;
    border: none;
    color: var(--white);
    font-family: var(--monsterrat);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

#contact h3 {
    font-family: var(--molle);
    font-weight: bold;
    text-transform: none;
    font-size: 2rem;
}

#contact h3 .form-required {
    all: unset;
    text-transform: none;
    font-style: italic;
    font-weight: 300;
    font-family: var(--monsterrat);
    font-size: 1rem;
}

footer {
    background-color: var(--lt-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    font-family: var(--monsterrat);
}

footer a {
    text-decoration: none;
    color: var(--black);
}